<% provide :title, @user.name %>
<div class="row">
  <div class="center jumbotron">
    <aside>
      <div class="user-info">
        <h3 class="bg-primary" >Profile:</h3>
        <p  class="text-info">
          <%= t ".name", name: @user.name %>
        </p>
        <p  class="text-info">
          <%= t ".email", email: @user.email %>
        </p>
         <p  class="text-info">
          <%= t ".age", age: @user.age %>
        </p>
         <p  class="text-info">
          <%= t ".gender", gender: @user.gender %>
        </p>
      </div>
      
      <hr>
      <div class="goals">
        <h3 class="bg-danger" >Goals:</h3>
        <% @user.goals.each do |goal| %>
          <div class="goal">
            <%= t ".words", words: goal.words %> <br>
            <%= t ".deadline", deadline: goal.deadline %>
          </div>
            
        <% end %>
        <p><%= link_to  "new goal", [:new, :goal], class: "btn btn-primary" %></p>
      </div>
      
      <% if @is_me %>
    <% @user.friends.each_with_index do |friend, i| %>
        <% if friend.user_id == @user.id %>
        <h4>
            <%= "#{i + 1}. #{User.find(friend.friend_id).name} - #{@user.status_with(friend.friend_id).to_s}" %>
        </h4>
        <% else %>
        <h4>
            <%= "#{i + 1}. #{User.find(friend.user_id).name} - #{@user.status_with(friend.user_id).to_s}" %>
        </h4>
      <%end %>
      <%end %>
      <% else %>
    <% case @status %>
       <% when :nothing %>
            <%= form_tag('/friends', method: :post) do %>
               <%= hidden_field_tag :user_id, current_user.id %>
                <%= hidden_field_tag :friend_id, @user.id %>
               <%= submit_tag 'Request' %>
            <% end %>
        <% when :requested %>
            <h4>Requested</h4>
           <%= form_tag('/friends/#{@friend.id}', method: :delete) do %>
                <%= hidden_field_tag :id, @friend.id %>
                <%= hidden_field_tag :friend_id, @user.id %>
                <%= submit_tag 'Remove request' %>
           <% end %>
        <% when :be_requested %>
            <h4>Be Requested</h4>
           <%= form_tag('/friends/#{@friend.id}', method: :put) do %>
               <%= hidden_field_tag :id, @friend.id %>
               <%= hidden_field_tag :friend_id, @user.id %>
                <%= submit_tag 'Accept' %>
            <% end %>
            <%= form_tag('/friends/#{@friend.id}', method: :delete) do %>
               <%= hidden_field_tag :id, @friend.id %>
                <%= hidden_field_tag :friend_id, @user.id %>
                <%= submit_tag 'Reject' %>
            <% end %>
        <% when :be_accepted, :accepted %>
           <h4>FRIEND</h4>
           <%= form_tag('/friends/#{@friend.id}', method: :delete) do %>
               <%= hidden_field_tag :id, @friend.id %>
               <%= hidden_field_tag :friend_id, @user.id %>
                <%= submit_tag 'Unfriend' %>
            <% end %>
    <% end %>
      <%end %>
    </aside>
    
  </div>
</div>
