<% provide :title, @user.name %>
<section id="main" class="container">
  <header>
    <h2>User Profile</h2>
    <p>Just something about you.</p>
  </header>
  <div class="row">
    <div class="8u">
      <section class="box">
        <h3>Profile:</h3>
        <p><%= t ".name", name: @user.name %></p>
        <p><%= t ".email", email: @user.email %></p>
        <p><%= t ".age", age: @user.age %></p>
        <p><%= t ".gender", gender: @user.gender %></p>
      </section>
    </div>
      <div class="4u">
        <%= image_tag("avatar.png", :alt=>"avatar") %>
      </div>
  </div>
  
  <div class="row">
    <div class="12u">
      <section class="box">
        <h3>Goals:</h3>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>Number of Words</th>
                <th>Deadline</th>
              </tr>
            </thead>
            <tbody>
              <% @user.goals.each do |goal| %>
                <tr>
                  <td></td>
                  <td><%= goal.words %></td>
                  <td><%= goal.deadline %></td>
                </tr>
              <% end %>
            </tbody>
           
          </table>
        </div>
        <p><%= link_to  "new goal", [:new, :goal], class: "btn btn-primary" %></p>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="12u">
      <section class="box">
        <h3>Friend:</h3>
              <% if @is_me %>
    <% @user.friends.each_with_index do |friend, i| %>
        <% if friend.user_id == @user.id %>
        <h4>
            <%= "#{i + 1}. #{User.find(friend.friend_id).name} - #{@user.status_with(friend.friend_id).to_s}" %>
        </h4>
        <% else %>
        <h4>
            <%= "#{i + 1}. #{User.find(friend.user_id).name} - #{@user.status_with(friend.user_id).to_s}" %>
        </h4>
      <%end %>
      <%end %>
      <% else %>
    <% case @status %>
       <% when :nothing %>
            <%= form_tag('/friends', method: :post) do %>
               <%= hidden_field_tag :user_id, current_user.id %>
                <%= hidden_field_tag :friend_id, @user.id %>
               <%= submit_tag 'Request' %>
            <% end %>
        <% when :requested %>
            <h4>Requested</h4>
           <%= form_tag('/friends/#{@friend.id}', method: :delete) do %>
                <%= hidden_field_tag :id, @friend.id %>
                <%= hidden_field_tag :friend_id, @user.id %>
                <%= submit_tag 'Remove request' %>
           <% end %>
        <% when :be_requested %>
            <h4>Be Requested</h4>
           <%= form_tag('/friends/#{@friend.id}', method: :put) do %>
               <%= hidden_field_tag :id, @friend.id %>
               <%= hidden_field_tag :friend_id, @user.id %>
                <%= submit_tag 'Accept' %>
            <% end %>
            <%= form_tag('/friends/#{@friend.id}', method: :delete) do %>
               <%= hidden_field_tag :id, @friend.id %>
                <%= hidden_field_tag :friend_id, @user.id %>
                <%= submit_tag 'Reject' %>
            <% end %>
        <% when :be_accepted, :accepted %>
           <h4>FRIEND</h4>
           <%= form_tag('/friends/#{@friend.id}', method: :delete) do %>
               <%= hidden_field_tag :id, @friend.id %>
               <%= hidden_field_tag :friend_id, @user.id %>
                <%= submit_tag 'Unfriend' %>
            <% end %>
    <% end %>
      <%end %>
      </section>
    </div>
  </div>



</section>
