<%= form_for @goal do |f| %>
	<%= render "shared/error_messages", object: f.object %>
	<div class="row uniform 60%"> 
		<div class="8u 12u(mobilep)">
			<%= f.number_field :words, class: "form-control", :placeholder => "Number of Words" %>
		</div>
	</div>
	<div class="row uniform 60%"> 
		<div class="8u 12u(mobilep)">
			<%= f.date_field :deadline, class: "form-control",:placeholder => "Deadline" %>
		</div>
	</div>
	<div class="row uniform 60%"> 
		<div class="8u 12u(mobilep)">
			<%= f.submit t(".save"), class: "btn btn-primary" %>
		</div>
	</div>
<% end %>