            <tr>
              <td></td>
              <td><%= exam.category.name %></td>
              <td>
                <% if exam.started? %>
                  <% if exam.finished? %>
                    <%= t ".score", correct: exam.correct_number, all: exam.results.count %>
                  <% else %>
                    &nbsp 
                  <% end %>
                <% end %>
              </td>
              <td><%= exam.created_at %></td>
              <td>
              <% if exam.started? %>
                <%= link_to t(".view"), exam %>
              <% else %>
                <%= link_to "Start", [:edit, exam] %>
                <% end %>
              </td>
            </tr>
