<!-- Header -->
<header id="header">
  <h1><%= link_to "learn.xyz", root_url %> by A's Team</h1>
  <nav id="nav">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Profile", user_path(current_user) %></li>
      <% end %>
      <li><%= link_to "Home", root_url %></li>
      <li><%= link_to "Contact", contact_url %></li>
      <% if user_signed_in? %>
        <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete, class: "button" %></li>
    <% else %>
        <li><%= link_to t(".signin"), new_user_session_path , class: "button" %></li>
        <% end %>
    </ul>
  </nav>
</header>